@(registerForm: Form[User])


@adminLayout("Register"){
	<div class="container">
		<div class="row" >
			<div class="col s2">
			</div>
			<div class="col s8">
				<div class="card" >
					<div class="card-panel teal">
						<h5 class="white-text center bold">ADD NEW USER</h5>
					</div>
					@helper.form(action = routes.AuthController.validateRegistration()){
						@helper.CSRF.formField

						<div class="card-content" >
							<input type="hidden" name="admin" value="1">
							<div class="input-field">
								@helper.inputText(registerForm("name"))
							</div>
							<div class="input-field">
								@helper.inputText(registerForm("email"))
							</div>

							<div class="input-field">
								@helper.inputPassword(registerForm("password"))
							</div>
							<div>
								<button style="margin-bottom: 10px;" type="submit" class="btn blue right">Register</button>
							</div>
						</div>

					}
					<div><a  href="/dashboard">BACK TO DASHBOARD</a></div>
				</div>
			</div>
			<div class="col s2">
			</div>
		</div>
	</div>
}
